<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769263916632-9v93c1ptlbnru8o9a078o3o5m4r1punj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769263916632-9v93c1ptlbnru8o9a078o3o5m4r1punj</string>
	<key>API_KEY</key>
	<string>AIzaSyBQHbvQgBWqNQcm_JMLogzHB58GeIWa2bY</string>
	<key>GCM_SENDER_ID</key>
	<string>769263916632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Priyabrat.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>let-s-chat-ios-13</string>
	<key>STORAGE_BUCKET</key>
	<string>let-s-chat-ios-13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769263916632:ios:b077864bded12ff58e5c2d</string>
</dict>
</plist>